{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
    <div class="container-fluid post">

        {% if post.published_date %}
            <div class="date row" style="padding-left: 15px; color: #aaa; margin-bottom: 10px;">
                <small>{{ post.published_date }}</small>
            </div>
        {% endif %}

        <div class="row" style="margin-bottom: 20px; display: flex; align-items: center;">
            
            <div class="col-xs-12 col-sm-8">
                <h2 style="margin-top: 0;">{{ post.title }}</h2>
            </div>

            <div class="col-xs-12 col-sm-4 text-right">
                {% if user.is_authenticated %}
                    <div class="actions" style="display: inline-block;">
                        
                        {% if not post.published_date %}
                            <form action="{% url 'blog:post_publish' pk=post.pk %}" method="POST" class="form-inline" style="display: inline-block; margin-bottom: 0;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-default">
                                    Publish
                                </button>
                            </form>
                        {% endif %}

                        <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}">
                            .<span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <form action="{% url 'blog:post_remove' pk=post.pk %}" method="POST" class="form-inline" style="display: inline-block; margin-bottom: 0;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default">
                                .<span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>
            
        </div> <div class="row">
            <div class="col-xs-12">
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        </div>

    </div>
{% endblock %}
